# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# targets
index_builder/src/index_builder
index_builder/src/index_builder-debug
basic_search/src/basic_search
basic_search/src/basic_search-debug
