# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*_d

# targets
third
bs/frame/bs
bs/frame/bs_d
da/frame/da
da/frame/da_d
*_unittest

# temp
da/frame/log